.view-button {
    text-decoration: none;
}

.image-review {
    height: 350px;
    max-width: 100%;
    background: #ececec;
    padding: 5px;
    border-radius: 5px;
}

.pad-10 {
    padding: 10px;
}