<p-fileUpload name="files[]" url="/api/upload" multiple="multiple" (onUpload)="onUploadComplate($event)"></p-fileUpload>

<div class="p-fluid p-formgrid p-grid pad-10" *ngIf="uploads">
    <p-card class="p-field p-fluid p-col-6" *ngFor="let upload of uploads">
        <div>
            <div class="p-text-center">
                <img class="image-review" [src]="upload.path" [alt]="upload.originalname">
            </div>
            <label for="filename">Filename</label>
            <input id="filename" type="filename" pInputText [value]="upload.originalname">
            <label for="directLink">Direct Link</label>
            <input id="directLink" type="directLink" pInputText [value]="upload.path">
            <label for="viewLink">View Link</label>
            <input id="viewLink" type="viewLink" pInputText [value]="upload.view">
        </div>
        <br>
        <div class="p-field p-fluid p-col-12">
            <a [href]="upload.view" pButton label="View" target="_blank" class="view-button p-button-success" icon="pi pi-eye" iconPos="right">
                <strong>{{ upload.size | bytes }}</strong>
            </a>
        </div>
    </p-card>
</div>